<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Verification</title>
    <style>
      body {
        font-family: "Arial", sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
      }

      .container {
        max-width: 600px;
        margin: 50px auto;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      h1 {
        color: #333333;
      }

      p {
        color: #666666;
      }

      .verification-link {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #ff3300;
        color: #ffffff;
        text-decoration: none;
        border-radius: 5px;
      }

      h2 {
        margin: 4px 0 4px 0;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <h2>Nama : <%= nama %></h2>
      <h2>Email : <%= email %></h2>
      <h2>Nomor Hp : <%= nohp %></h2>
      <p>Kode Unik Akun : <strong><%= kode %></strong></p>

      <p>Keluhan / Masukan :</p>
      <p><%= keluhan %></p>
      <a
        style="color: white"
        class="verification-link js-link"
        href="http://localhost:3000/penghapusan/<%= kode %>"
        target="_blank"
        >Tidak Setuju
      </a>
      <p><strong>Tombol Ini Akan Menghapus Akun Sang Pengirim Pesan</strong></p>
    </div>
  </body>
</html>
